@import "tailwindcss";

:root {
  --background: #07071a;
  --foreground: #eae6f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-orbitron: var(--font-orbitron);
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}